body {
    background-color: rgb(178, 176, 176);
}

div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    height: 678px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(33, 32, 32);
    width: 1024px;
    height: 100px;
}

header .cajapyf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 234px;
    height: 80px;
}

header img {
    margin-right: 10px;
}

.cajacprh {
    display: flex;
    width: 350px;
    height: 25px;
    color: white;
}

.marg{
    margin: 0px 14px 0px 10px;
}

.verde {
    color: green;
}

.blanco {
    color: white;
}

.rojo {
    color: red;
}

.cajaC {
    display: flex;
    background-color: white;
    width: 986px;
    height: 350px;
    border-radius: 5px;
}

.cajaimg {
    width: 490px;
    height: 350px;
    margin-right: 10px;
}

.cajaimg img {
    border-radius: 5px;
}

.cajaec2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: 23px;
    width: 340px;
    bottom: 363px;
    left: 25px;
}

.caja2c #pdp {
    color: red;
    font-size: 20px;
    font-family: "Roboto";
}

#ev {
    color: red;
}

#cp {
    color: white;
}

#p2 {
    color: red;
    font-family: "Roboto";
}

p {
    font-family: "Roboto";
    
}

.caja2c {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 480px;
    position: relative;
    height: 350px;
}

.cuadrol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 385px;
    height: 250px;
}

.cajalista {
    display: flex;
    flex-direction: column;
    width: 173px;
    height: 178px;
}

.cajalista #ptop {
    display: flex;
    justify-content: center;
}

.l {
    margin: 6px;
}

.cajaip {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 199px;
    height: 250px;
}

.cajaip img {
    width: 92px;
    height: 129px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: rgb(33, 32, 32);
    width: 1024px;
    height: 150px;
}

.logof {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 234px;
    height: 80px;
}

footer img {
    margin-right: 10px;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 78px;
    height: 112px;
    color: white;
    margin-left: 20px;
}

.marge {
    margin: 0px 0px 10px 0px;
}