body {
    background-color: rgb(178, 176, 176);
}

div {
    height: 800px;
}

#caja1 {
    position: relative;
    display: inline-block;
    width: 234px;
    height: 80px;
    top: 10px;
    left: 20px;
}

.pizzayfront {
    position: relative;
    width: 200px;
    height: 28px;
    bottom: 66px;
    left: 100px;
    font-size: 25px;
}

#y{
    margin-right: -5px;
    color: white;
}

#piz {
    margin-left: 14px;
    margin-right: -5px;
    color: green;
}

#front {
    color: red;
}

.pizza{
    position: relative;
    display: inline-block;
    bottom: 18px;
}

#caja2 {
    position: relative;
    display: flex;
    color: rgb(220, 216, 216);
    font-size: 17px;
    width: 300px;
    height: 22px;
    justify-content: space-around;
    left: 1100px;
    bottom: 113px;
}

header {
    background-color: #222222;
    width: 100%;
    height: 100px;
    display: inline-block;
}

#cajaf {
    width: 200px;
    height: 28px;
    position: relative;
    left: 1140px;
    bottom: 106px;
}

#pizza2 {
    color: green;
    margin-left: 14px;
    margin-right: -5px;
}

#y2 {
    margin-right: -5px;
    color: white;
}

#front2 {
    color: red;
}

#hcrp2 {
    width: 30px;
    position: relative;
    top: 15px;
    left: 25px;
}

.hcrp2 {
    color: white;
}

footer {
    background-color: #222222;
    width: 100%;
    height: 150px;
    top: 520px;
}

.cajaC {
    position: relative;
    display: flex;
    background-color: white;
    width: 986px;
    height: 350px;
    left: 250px;
    margin-bottom: 110px;
}

.cajaimg {
    width: 490px;
    height: 350px;
    margin-right: 10px;
}

.cajaec2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: 23px;
    width: 340px;
    bottom: 363px;
    left: 25px;
}

.caja2c #pdp {
    color: red;
    font-size: 20px;
    font-family: "Roboto";
}

#ev {
    color: red;
}

#cp {
    color: white;
}

#p2 {
    color: red;
    font-family: "Roboto";
}

p {
    font-family: "Roboto";
    
}

.caja2c {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 480px;
    position: relative;
    height: 350px;
}

.cuadrol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 385px;
    height: 250px;
}

.cajalista {
    display: flex;
    flex-direction: column;
    width: 173px;
    height: 178px;
}

.cajalista #ptop {
    display: flex;
    justify-content: center;
}

.l {
    margin: 6px;
}

.cajaip {
    display: flex;
    justify-content: end;
    width: 199px;
    height: 250px;
}

.cajaip img {
    position: relative;
    top: 55px;
    width: 92px;
    height: 129px;
}